body {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 100%;
      }

      .container-narrow {
        margin: 0 auto;
        max-width: 640px;
      }

      .map { margin-bottom: 35px; }
      h3 { font-size: 1.5em; }

    .footer h3 { padding: 0; margin: 0; }
